about-time==4.2.1
backports.tarfile==1.2.0
chispa==0.10.1
cron-descriptor==1.4.5
dbt-bigquery==1.9.1
dlt==1.7.0
duckdb==1.2.0
google-cloud==0.34.0
grapheme==0.6.0
ipykernel==6.29.5
jaraco.collections==5.1.0
kafka-python==2.1.5
logbook==1.5.3
msgpack==1.1.0
pandas-gbq==0.28.0
pgcli==4.2.0
pipdeptree==2.9.6
PyMySQL==1.1.1
pyspark==3.5.3
pytest==8.3.4
s3fs==2025.2.0
SQLAlchemy==2.0.38
sqlglot==26.8.0
tomli==2.0.1
wheel==0.43.0